.cardtwo{
    font-size: 30px;

text-align: center;
margin-left: 30%;
width: 40%;
height: auto;

align-items: center;
justify-content: center;
justify-items: center;
justify-self: center;
}
.cardtwo h6{
    font-family: monospace;
    
    font-weight: bolder;
    display:inline-flex;
    margin:5px;
   
}
@media (max-width: 890px){
    .cardtwo h6{ display: inline;
      
          }
        }