.cardfour{
    
    margin-top: 1%;
    text-align: center;
    margin-left: 30%;
    width: 40%;
    height: auto;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    }