body{
    background-color: gray;
}

.country{
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    background-color: grey;
}

.boton{
    color: #000;
    margin-left: 45%;
    margin-top: 20px;
    width:150px;
    height: 60px;
}

.buttonweather{
    border: black solid 2px;
    font-size: larger;
    border-radius: 5px;
    color: black;
}