body{
    top:0%;
    background-color: gray;
}

.country{
    padding-bottom: 2%;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    background-color: grey;
}

.boton{
    font-family: monospace;
    font-weight: 10px;
    border-radius: 30px;
    color: #000;
    margin-left: 35%;
    margin-top: 20px;
    width:30%;
    height: 60px;
}

.buttonweather{
    border: black solid 2px;
    font-size: larger;
    border-radius: 5px;
    color: black;
}
.boton2{
    font-family: monospace;
    font-weight: 10px;
    border-radius: 30px;
    color: #000;
    
    margin-top: 20px;
    width:30%;
    height: 60px;
}  


    