

.header{


text-decoration: none;
padding-left: 5%;
top: 0;
width: 100%;
position: fixed;
height: 28%;
background-color:gray;
}

.header h2{
    text-decoration: none;
}

.logo{
    margin:auto;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
   margin-left: 22%;
    font-family: monospace; 
    letter-spacing: 10px;
    color: black;
    text-decoration: none;
    display: inline-flex;
    background-color: #0000;
}

.logo h2{
    font-size: 30px;
}

.logo h6{
    font-size: 15px;
}



.form{
  
}

@media (max-width: 960px){

}


@media (max-width: 575px){
    .logo{
        justify-content: space-between;
        font-family: monospace;
        letter-spacing: 5px;
        color: black;
        text-decoration: none;
        display: inline-flex;
        background-color: #0000;
    }
    .logo h6{
        font-size: 11px;
    }
    .header{

        display:block;
        text-decoration: none;
        padding-left: 1%;
        top: 0;
        width: 90%;
        position: fixed;
        height: 31%;
        background-color:gray;
        }
      }
      