form{
    justify-content: center;
    align-items: center;
    margin-top: 2.3%;
    margin-left: 15%;
}

.input1{
height: 25px;
width: 350px;
border-radius: 12px 0 0 12px;
border: solid black;
    
}

.input2{
    
    height: 33px;
    color:black;
    font-weight: bolder;
    background-color: dimgray;
    border: solid black;
    border-radius: 0 12px 12px 0 ;
}

.input2:hover{
    color: white;
}

.input2::selection{
    color: chartreuse;
}